# macOS clutter
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/

# Logs & runtime artifacts
logs/
sources.json
*.log
/tmp/
*.tmp

# Editor/IDE
.vscode/
.idea/
.icsbridge
.icsbridge_config
.sources/
.tracked_sources.json
